@import './variables';

@each $name, $value in $scale {
  .inset-#{$name} {
    padding: $value;
  }

  .squish-#{$name} {
    padding: ($value * 0.5) $value;
  }

  .stretch-#{$name} {
    padding: $value ($value * 0.5);
  }

  .stack-#{$name} {
    margin-bottom: $value;
  }

  .inline-#{$name} {
    margin-right: $value;
  }
}
